<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Unibus"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Unibus">

        <!-- Tela Inicial -->
        <activity android:name=".LoadingActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Telas de Autenticação -->
        <activity android:name=".LoginActivity" android:exported="false" />
        <activity android:name=".RecuperarSenhaActivity" android:exported="false" />
        <activity android:name=".ConfirmarCodigoActivity" android:exported="false" />
        <activity android:name=".AlterarSenhaActivity" android:exported="false" />

        <!-- Telas do Aluno -->
        <activity android:name=".HomeAlunoActivity" android:exported="false" />
        <activity android:name=".MapaActivity" android:exported="false" />
        <activity android:name=".RotasActivity" android:exported="false" />
        <activity android:name=".QrCodeActivity" android:exported="false" />
        <activity android:name=".AvisosActivity" android:exported="false" />
        <activity android:name=".SuporteActivity" android:exported="false" />

        <!-- Telas do Motorista -->
        <activity android:name=".InicialMotoristaActivity" android:exported="false" />
        <activity android:name=".AvisosMotoristaActivity" android:exported="false" />
        <activity android:name=".ConfirmacaoAvisoActivity" android:exported="false" />

        <!-- Telas do Admin -->
        <activity android:name=".GerenciarUsuariosActivity" android:exported="false" />
        <activity android:name=".SucessoAtivacaoActivity" android:exported="false" />
        <activity android:name=".SucessoInativacaoActivity" android:exported="false" />
        <activity android:name=".InicialAdminActivity" android:exported="false" />
        <activity android:name=".GerenciarRotasActivity" android:exported="false" />
        <activity android:name=".CriarRotaActivity" android:exported="false" />
        <activity android:name=".EditarRotaActivity" android:exported="false" />
        <activity android:name=".ExcluirRotaActivity" android:exported="false" />
        <activity android:name=".SucessoExclusaoActivity" android:exported="false" />
        <activity android:name=".Estatisticas2Activity" android:exported="false" />
        <activity android:name=".EstatisticasActivity" android:exported="false" />
        <activity android:name=".EstatisticasCalendarActivity" android:exported="false" />

        <!-- Telas de Chamados -->
        <activity android:name=".ChamadosActivity" android:exported="false" />
        <activity android:name=".ChamadosDetalhadosActivity" android:exported="false" />
        <activity android:name=".ChamadoEspecificadoActivity" android:exported="false" />
        <activity android:name=".ResponderChamadoActivity" android:exported="false" />
        <activity android:name=".SucessoAvisoActivity" android:exported="false" />

        <!-- Telas de Relatórios -->
        <activity android:name=".RelatoriosActivity" android:exported="false" />
        <activity android:name=".RelatoriosPicosActivity" android:exported="false" />
        <activity android:name=".RelatoriosSolicitacaoActivity" android:exported="false" />

        <!-- Outras -->
        <activity android:name=".ErrorActivity" android:exported="false" />

    </application>

</manifest>
