<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Unibus"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Unibus">

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MapaActivity" />
        <activity android:name=".RotasActivity" />
        <activity android:name=".QrCodeActivity" />
        <activity android:name=".AvisosActivity" />
        <activity android:name=".SuporteActivity" />
        <activity android:name=".InicialMotoristaActivity" />
        <activity android:name=".InicialAdminActivity" />
        <activity android:name=".ChamadosActivity" />
        <activity android:name=".ChamadosDetalhadosActivity" />
        <activity android:name=".ChamadoEspecificadoActivity" />
        <activity android:name=".ResponderChamadoActivity" />
        <activity android:name=".Estatisticas2Activity" />
        <activity android:name=".CriarRotaActivity" />
        <activity android:name=".EditarRotaActivity" />
        <activity android:name=".GerenciarRotasActivity" />
        <activity android:name=".GerenciarRotas1Activity" />
        <activity android:name=".GerenciarRotas2Activity" />
        <activity android:name=".ExcluirRotaActivity" />
        <activity android:name=".ExcluirRota2Activity" />
        <activity android:name=".SucessoExclusaoParangabaActivity" />
        <activity android:name=".SucessoExclusaoPapicuActivity" />

        <activity
            android:name=".RecuperarSenhaActivity"
            android:exported="false" />

        <activity
            android:name=".ConfirmarCodigoActivity"
            android:exported="false" />

        <activity
            android:name=".AlterarSenhaActivity"
            android:exported="false" />

        <activity
            android:name=".ErrorActivity"
            android:exported="false" />

    </application>

</manifest>
